* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

}

body {
  width: 38.4rem;
  margin: 0 auto;

  }

.page {
    text-align: center;
    background: #FEEAFA;
  }
 
header {
  background: #8E9AAF;
  left: 0;
  top: 0;
  padding: 3.2rem 0;
}

header img{
  margin-bottom: 3.2rem;
}

header h1{
 font-family: 'Staatliches';
 font-weight: 400;
 font-size: 4rem;
 line-height: 3.4rem;
 letter-spacing: 0.05rem;
 color: #FFFFFF;
 text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
 text-transform: uppercase;
 text-align: center;
}

header h1 span{
  background: #CBC0D3;
  display: block;
  flex-direction: column;
  padding: 0.8rem ;
  
}

main{
  padding: 1.4rem 3.2rem 6rem;
  display: grid;
  gap: 3.2rem;
}

main p {
font-family: 'Palanquin';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1.5rem;

text-align: center;
color: #23053A;
margin-bottom: 3rem;

}

.card{
  position: relative;
  font-family: 'Staatliches', cursive;
 
}

.card img{
  object-fit: cover;
  animation: downtop 800ms backwards;
  transition: all 200ms;

}

.card img:hover{
  transform: scale(1.05);
  opacity: 0.9;
}

.card h2 {
  position: absolute;
  top: 1.7rem;
  right: 1.6rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4px;
  color: #4A4E69;
  display: flex;
  flex-direction: column;
}

.card h2 span{
  background: #FEEAFA;
border-radius: 20px;
padding: 0 2.3rem;
height: 3.5rem;
display: inline-flex;
align-items: center;
width: fit-content;
animation: topdown 800ms;
}

@keyframes topdown{
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}